@model OnlineStore.BusinessLogic.Implementation.Products.Models.MeasureQuantityModel
@{
    ViewData["Title"] = "View";
    Layout = null;
}
<div class="row">
    <div class="col-md-4">

        <form asp-action="CreateMeasureQunatity" asp-controller="Product" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeasureId" class="control-label"></label>
                <input asp-for="MeasureId" class="form-control" required />
                <span asp-validation-for="MeasureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="text" class="form-control" required />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="button" value="Add" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

