@model OnlineStore.BusinessLogic.Implementation.Account.Models.ProfileModel
@inject OnlineStore.Common.DTOs.CurrentUserDto CurrentUser
@{
    ViewData["Title"] = "Profile Page";
    ViewBag.CountryId = Convert.ToInt32(ViewBag.CountryId);

}
<h1>@ViewData["Title"]</h1>
<input type="hidden" id="countryIdHidden" name="countryId" value="@ViewBag.CountryId" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProfile" asp-controller="UserAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryId" class="control-label">Country name</label>
                <select asp-for="CountryId" class="form-control" id="countryDropdown"></select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a href="@Url.Action("Profile", "UserAccount", new { id = CurrentUser.Id })" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/User/EditCountryList.js"></script>
<script src="~/js/User/CountryForEdit.js"></script>
<script>new CountryForEdit();</script>


