@model IEnumerable<OnlineStore.Common.DTOs.WishListDto>
@inject OnlineStore.Common.DTOs.CurrentUserDto CurrentUser

<link rel="stylesheet" href="~/css/ShoppingCart/ShoppingCart.css" />

<style>

    .notification {
        background-color: red;
        color: white;
        text-align: center;
        padding: 10px;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        transition: opacity 0.5s;
    }

        .notification.hidden {
            opacity: 0;
        }

    img {
        width: 5vw;
        height: 3vw;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }

    .remove-button {
        width: 2vw;
        height: 2vw;
        background-color: red;
        color: white;
        border: none;
    }
</style>

@if (Model.Count() == 0)
{
    <h3>There are no items in your WishList</h3>
    <div id="notification" class="notification hidden"></div>
}
else
{

    <table>
        <h2>Shopping Cart</h2>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="item-@item.ProductId">

                <td>
                    <img src="data:image/png;base64,@Convert.ToBase64String(item.ProductImage)" />
                    <a href="@Url.Action("ProductDetails", "Product", new { id = item.ProductId })" style="text-decoration: none ; color: black">@item.ProductName</a>
                </td>
                <td>@(item.ProductPrice - (item.ProductPrice * item.ProductDiscount / 100)) USD </td>
                <td class="remove-cell">
                    <button onclick="RemoveFromWishList('@item.ProductId')" type="button" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heartbreak" viewBox="0 0 16 16">
                            <path d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38.094 38.094 0 0 0 .867-.59Zm-.303-1.01-.971-3.237 1.74-2.608a1 1 0 0 0 .103-.906l-1.3-3.468 1.45-1.813c1.861-.948 4.446.002 5.197 2.11.691 1.94-.055 5.521-6.219 9.922Zm-1.25 1.137a36.027 36.027 0 0 1-1.522-1.116C-5.077 4.97 1.842-1.472 6.454.293c.314.12.618.279.904.477L5.5 3 7 7l-1.5 3 1.815 4.537Zm-2.3-3.06-.442-1.106a1 1 0 0 1 .034-.818l1.305-2.61L4.564 3.35a1 1 0 0 1 .168-.991l1.032-1.24c-1.688-.449-3.7.398-4.456 2.128-.711 1.627-.413 4.55 3.706 8.229Z"></path>
                        </svg>
                    </button>
                </td>
            </tr>

        }
    </table>
}

<div id="notification" class="notification hidden"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/WishList/RemoveFromWishList.js"></script>

